# 1

MongoDB is an open source NoSQL database management program. NoSQL (Not only SQL) is used as an alternative to traditional relational databases.

A non-relational database is a database that does not use the tabular schema of rows and columns found in most traditional database systems. Instead, non-relational databases use a storage model that is optimized for the specific requirements of the type of data being stored.

In comparison to the SQL server, MongoDB is faster and more scalable. While the SQL server supports JOIN and Global transactions, MongoDB does not. The MS SQL server does not accommodate large amounts of data, however MongoDB does

# 2

Features of MongoDB â€“
 

Schema-less Database: It is the great feature provided by the MongoDB. A Schema-less database means one collection can hold different types of documents in it. Or in other words, in the MongoDB database, a single collection can hold multiple documents and these documents may consist of the different numbers of fields, content, and """""""size""""""". It is not necessary that the one document is similar to another document like in the relational databases. Due to this cool feature, MongoDB provides great flexibility to databases.

Document Oriented: In MongoDB, all the data stored in the documents instead of tables like in RDBMS. In these documents, the data is stored in fields(key-value pair) instead of rows and columns which make the data much more flexible in comparison to RDBMS. And each document contains its unique object id.

Indexing: In MongoDB database, every field in the documents is indexed with primary and secondary indices this makes easier and takes less time to get or search data from the pool of the data. If the data is not indexed, then database search each document with the specified query which takes lots of time and not so efficient.

Scalability: MongoDB provides horizontal scalability with the help of sharding. Sharding means to distribute data on multiple servers, here a large amount of data is partitioned into data chunks using the shard key, and these data chunks are evenly distributed across shards that reside across many physical servers. It will also add new machines to a running database.

Replication: MongoDB provides high availability and redundancy with the help of replication, it creates multiple copies of the data and sends these copies to a different server so that if one server fails, then the data is retrieved from another server.

Aggregation: It allows to perform operations on the grouped data and get a single result or computed result. It is similar to the SQL GROUPBY clause. It provides three different aggregations i.e, aggregation pipeline, map-reduce function, and single-purpose aggregation methods

High Performance: The performance of MongoDB is very high and data persistence as compared to another database due to its features like scalability, indexing, replication, etc.

# 3

In [2]:
import pymongo
client=pymongo.MongoClient("mongodb+srv://quantum_data:data_password@cluster0.svjl8xr.mongodb.net/?retryWrites=true&w=majority")
db=client.test
db

Database(MongoClient(host=['ac-mcooaf7-shard-00-01.svjl8xr.mongodb.net:27017', 'ac-mcooaf7-shard-00-00.svjl8xr.mongodb.net:27017', 'ac-mcooaf7-shard-00-02.svjl8xr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-oyne47-shard-0', tls=True), 'test')

In [5]:
db=client['Name_of_database']
data={
    "name" : "name_of_student",
    "sid" : "student_id",
    "mentor" : "Feculty adviser"
}
collection_1=db["student_record"]
collection_1.insert_one(data)

# 4

In [8]:
data1={
    "mail_id" : "student_roll@iit.ac.in",
    "phonr_number" : 1234567890,
    "star_date" : "star_date_of_series"
}
collection_1.insert_one(data1)

In [9]:
data2=[
	{
		"id": "0001",
		"type": "donut",
		"name": "Cake",
		"ppu": 0.55,
		"batters":
			{
				"batter":
					[
						{ "id": "1001", "type": "Regular" },
						{ "id": "1002", "type": "Chocolate" },
						{ "id": "1003", "type": "Blueberry" },
						{ "id": "1004", "type": "Devil's Food" }
					]
			},
		"topping":
			[
				{ "id": "5001", "type": "None" },
				{ "id": "5002", "type": "Glazed" },
				{ "id": "5005", "type": "Sugar" },
				{ "id": "5007", "type": "Powdered Sugar" },
				{ "id": "5006", "type": "Chocolate with Sprinkles" },
				{ "id": "5003", "type": "Chocolate" },
				{ "id": "5004", "type": "Maple" }
			]
	},
	{
		"id": "0002",
		"type": "donut",
		"name": "Raised",
		"ppu": 0.55,
		"batters":
			{
				"batter":
					[
						{ "id": "1001", "type": "Regular" }
					]
			},
		"topping":
			[
				{ "id": "5001", "type": "None" },
				{ "id": "5002", "type": "Glazed" },
				{ "id": "5005", "type": "Sugar" },
				{ "id": "5003", "type": "Chocolate" },
				{ "id": "5004", "type": "Maple" }
			]
	},
	{
		"id": "0003",
		"type": "donut",
		"name": "Old Fashioned",
		"ppu": 0.55,
		"batters":
			{
				"batter":
					[
						{ "id": "1001", "type": "Regular" },
						{ "id": "1002", "type": "Chocolate" }
					]
			},
		"topping":
			[
				{ "id": "5001", "type": "None" },
				{ "id": "5002", "type": "Glazed" },
				{ "id": "5003", "type": "Chocolate" },
				{ "id": "5004", "type": "Maple" }
			]
	}
]

In [10]:
collection_1.insert_many(data2)

In [11]:
collection_1.find_one

<bound method Collection.find_one of Collection(Database(MongoClient(host=['ac-mcooaf7-shard-00-01.svjl8xr.mongodb.net:27017', 'ac-mcooaf7-shard-00-00.svjl8xr.mongodb.net:27017', 'ac-mcooaf7-shard-00-02.svjl8xr.mongodb.net:27017'], document_class=dict, tz_aware=False, connect=True, retrywrites=True, w='majority', authsource='admin', replicaset='atlas-oyne47-shard-0', tls=True), 'Name_of_database'), 'student_record')>

In [12]:
collection_1.find_one()

{'_id': ObjectId('6479bbd9ff7794e8ebb1ac7f'),
 'name': 'name_of_student',
 'sid': 'student_id',
 'mentor': 'Feculty adviser'}

In [13]:
collection_1.find()

In [14]:
for i in collection_1.find():
    print(i)

{'_id': ObjectId('6479bbd9ff7794e8ebb1ac7f'), 'name': 'name_of_student', 'sid': 'student_id', 'mentor': 'Feculty adviser'}
{'_id': ObjectId('6479bcfbff7794e8ebb1ac80'), 'mail_id': 'student_roll@iit.ac.in', 'phonr_number': 1234567890, 'star_date': 'star_date_of_series'}
{'_id': ObjectId('6479bdaeff7794e8ebb1ac81'), 'id': '0001', 'type': 'donut', 'name': 'Cake', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}, {'id': '1003', 'type': 'Blueberry'}, {'id': '1004', 'type': "Devil's Food"}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5007', 'type': 'Powdered Sugar'}, {'id': '5006', 'type': 'Chocolate with Sprinkles'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}
{'_id': ObjectId('6479bdaeff7794e8ebb1ac82'), 'id': '0002', 'type': 'donut', 'name': 'Raised', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}
{'_id': ObjectId('6479bdaeff7794e8ebb1ac83'), 'id': '0003', 'type': 'donut', 'name': 'Old Fashioned', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}
{'_id': ObjectId('647a102c794b88677520cb51'), 'name': 'name_of_student', 'sid': 'student_id', 'mentor': 'Feculty adviser'}
{'_id': ObjectId('647a1039794b88677520cb52'), 'mail_id': 'student_roll@iit.ac.in', 'phonr_number': 1234567890, 'star_date': 'star_date_of_series'}
{'_id': ObjectId('647a1041794b88677520cb53'), 'name': 'name_of_student', 'sid': 'student_id', 'mentor': 'Feculty adviser'}
{'_id': ObjectId('647a1042794b88677520cb54'), 'mail_id': 'student_roll@iit.ac.in', 'phonr_number': 1234567890, 'star_date': 'star_date_of_series'}
{'_id': ObjectId('647a10a3794b88677520cb55'), 'id': '0001', 'type': 'donut', 'name': 'Cake', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}, {'id': '1003', 'type': 'Blueberry'}, {'id': '1004', 'type': "Devil's Food"}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5007', 'type': 'Powdered Sugar'}, {'id': '5006', 'type': 'Chocolate with Sprinkles'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}
{'_id': ObjectId('647a10a3794b88677520cb56'), 'id': '0002', 'type': 'donut', 'name': 'Raised', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}
{'_id': ObjectId('647a10a3794b88677520cb57'), 'id': '0003', 'type': 'donut', 'name': 'Old Fashioned', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}
{'_id': ObjectId('647a10bb794b88677520cb58'), 'mail_id': 'student_roll@iit.ac.in', 'phonr_number': 1234567890, 'star_date': 'star_date_of_series'}
{'_id': ObjectId('647a10bd794b88677520cb59'), 'id': '0001', 'type': 'donut', 'name': 'Cake', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}, {'id': '1003', 'type': 'Blueberry'}, {'id': '1004', 'type': "Devil's Food"}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5007', 'type': 'Powdered Sugar'}, {'id': '5006', 'type': 'Chocolate with Sprinkles'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}
{'_id': ObjectId('647a10bd794b88677520cb5a'), 'id': '0002', 'type': 'donut', 'name': 'Raised', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5005', 'type': 'Sugar'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}
{'_id': ObjectId('647a10bd794b88677520cb5b'), 'id': '0003', 'type': 'donut', 'name': 'Old Fashioned', 'ppu': 0.55, 'batters': {'batter': [{'id': '1001', 'type': 'Regular'}, {'id': '1002', 'type': 'Chocolate'}]}, 'topping': [{'id': '5001', 'type': 'None'}, {'id': '5002', 'type': 'Glazed'}, {'id': '5003', 'type': 'Chocolate'}, {'id': '5004', 'type': 'Maple'}]}

# 5
In mongoDB, the find() method is used to fetch a particular data from the table. In other words, it is used to select data in a table. It is also used to return all events to the selected data. The find() method consists of two parameters by which we can find a particular record.

In [15]:
collection_1.find({'name':"name_of_student"})

In [16]:
for i in collection_1.find({'name':'name_of_student'}):
    print(i)

{'_id': ObjectId('6479bbd9ff7794e8ebb1ac7f'), 'name': 'name_of_student', 'sid': 'student_id', 'mentor': 'Feculty adviser'}
{'_id': ObjectId('647a102c794b88677520cb51'), 'name': 'name_of_student', 'sid': 'student_id', 'mentor': 'Feculty adviser'}
{'_id': ObjectId('647a1041794b88677520cb53'), 'name': 'name_of_student', 'sid': 'student_id', 'mentor': 'Feculty adviser'}

# 6

The sort() method specifies the order in which the query returns the matching documents from the given collection. You must apply this method to the cursor before retrieving any documents from the database. It takes a document as a parameter that contains a field: value pair that defines the sort order of the result set. The value is 1 or -1 specifying an ascending or descending sort respectively

In [45]:
db=client['database']
collection_2=db["record"]
data=[
   { "_id" : 1, "name" : "Central Park Cafe", "borough" : "Manhattan"},
   { "_id" : 2, "name" : "Rock A Feller Bar and Grill", "borough" : "Queens"},
   { "_id" : 3, "name" : "Empire State Pub", "borough" : "Brooklyn"},
   { "_id" : 4, "name" : "Stan's Pizzaria", "borough" : "Manhattan"},
   { "_id" : 5, "name" : "Jane's Deli", "borough" : "Brooklyn"},
];

In [52]:
data2=[  
  {  
    'Course': "Java",  
    'details': { "Duration": "6 months", "Trainer": "Sonoo Jaiswal" },  
    "Batch": [ { "size": "Medium", "qty": 25 } ],  
    "category": "Programming Language"  
  },  
  {  
    "Course": ".Net",  
    "details": { "Duration": "6 months", "Trainer": "Prashant Verma" },  
    "Batch": [ { "size": "Small", "qty": 5 }, { "size": "Medium", "qty": 10 }, ],  
    "category": "Programming Language"  
  },  
  {  
    "Course": "Web Designing",  
    "details": { "Duration": "3 months", "Trainer": "Rashmi Desai" },  
    "Batch": [ { "size": "Small", "qty": 5 }, { "size": "Large", "qty": 10 } ],  
    "category": "Programming Language"  
  }  
];
collection_2.insert_many(data2)

In [ ]:
collections.find().sort({"Course":-1})

# 7

Delete_many() is used when one needs to delete more than one document. A query object containing which document to be deleted is created and is passed as the first parameter to the delete_many().

In MongoDB, db. collection. drop() method is used to drop a collection from a database. It completely removes a collection from the database and does not leave any indexes associated with the dropped collections.

To delete one document, we use the delete_one() method. The first parameter of the delete_one() method is a query object defining which document to delete. Note: If the query finds more than one document, only the first occurrence is deleted